
{% extends 'ktvwifi/main.html' %}
{% load static %}

{% block title %} Contact us {% endblock%}

{% block content %}


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}

<!-- Contact Us Section -->
<section class="Material-contact-section section-padding section-dark">
    <div class="container" style="margin-top: 30px;">
        <div class="row">
            <!-- Section Titile -->
            <!-- <div class="col-md-12 wow animated fadeInLeft" data-wow-delay=".2s">
                <h1 class="section-title">Love to Hear From You </h1>
            </div> -->
        </div>
        <div class="row">
            <!-- Section Titile -->
            <div class="col-md-6 mt-3 contact-widget-section2 wow animated fadeInLeft" data-wow-delay=".2s">
              <!-- <p>Got any queries ? send us an message or feel free to visit our office during working works .</p> -->

              <div class="col-lg-5 d-flex align-items-stretch">
                <div class="info">
                  <div class="address">
                    <i class="icofont-google-map"></i>
                    <h4>Location:</h4>
                    <p>Nagpada 9th lane, bldg 30, ground floor </p>
                    <h4>  Working : </h4> <p> Mon-Sat 12pm - 6pm </p>
                  </div>
                  <div class="email">
                    <i class="icofont-envelope"></i>
                    <h4>Email:</h4>
                    <p>ktvwifi@gmail.com</p>
                  </div>
                  <div class="phone">
                    <i class="icofont-phone"></i>
                    <h4>Call:</h4>
                    <p>+022 23003461</p>
                  </div>
                  
                </div>

            </div>   

             
              <div class="find-widget">
               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d943.3084764149471!2d72.82621462919533!3d18.965274567500984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7ce154b4ca0c9%3A0x559078c605a17cc7!2s9th%20Ln%2C%20Dalal%20Estate%2C%20Kamathipura%2C%20Mumbai%2C%20Maharashtra%20400008!5e0!3m2!1sen!2sin!4v1599209956524!5m2!1sen!2sin" frameborder="0" style="border:0; width: 80%; height: 250px;" allowfullscreen=""></iframe>
              </div>
              
              
            </div>

            <!-- contact form -->
            <div class="col-md-6 wow animated fadeInRight" data-wow-delay=".2s">
                <form action="/contactus" class="shake" role="form" method="post" id="contactForm" name="contact-form" data-toggle="validator">
                    {% csrf_token %}   
                    <!-- Name -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="name">Name</label>
                      <input class="form-control" id="name" type="text" name="name" required data-error="Please enter your name">
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="phone">Phone</label>
                        <input class="form-control" id="phone" type="tel" name="phone" aria-required=”true” required data-error="Please enter your Phone number" >
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- email -->
                    <div class="form-group label-floating">
                      <label class="control-label" for="email">Email</label>
                      <input class="form-control" id="email" type="email" name="email" required data-error="Please enter your Email">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Title -->
                    <div class="form-group label-floating">
                      <label class="control-label">Title</label>
                      <input class="form-control" id="msg_title" type="text" name="title" required data-error="Please enter your message msg title">
                      <div class="help-block with-errors"></div>
                    </div>
                    <!-- Message -->
                    <div class="form-group label-floating">
                        <label for="message" class="control-label">Message</label>
                        <textarea class="form-control" rows="3" id="message" name="message" required data-error="Write your message"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                    <!-- Form Submit -->
                    <div class="form-submit mt-5">
                        <button class="btn btn-common" type="submit" id="submitContact"><i class="material-icons mdi mdi-message-outline"></i> Send Message</button>
                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                        <div class="clearfix"></div>
                    </div>
                    <input type="hidden" name="ip" id="ip" value="{{ip}}">
                </form>
            </div>
        </div>
    </div>
  </section>

{% endblock %}