{% extends 'ktvwifi/main.html' %}

{% load static %}
{% block title %} Password update {% endblock%}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="resetForm">
        <div class="resetFormHeader">
            <h3> Password Update </h3>
            <p> Please enter your Password Twice to confirm </p>
        </div>
    {{ form }}
    <input type="submit" name="Update Password" id="" value="Update Password" class="pwdResetButton">
    </div>
</form>

{% endblock %}