{% extends 'ktvwifi/main.html' %}
{% load static %}
{% block content %}
  <div class="album py-5 bg-light" style="background-color: #f3f5fa  !important;">
    <div class="container">
      
      <div class="row">
        {% for p in plans %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
              <p class="card-text"> {{p.speed}} Mbps Unlimited </p> 
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-primary">Recharge</button>
                </div>
                <small class="text-muted">{{p.price}} ₹  /  {{p.validity}} Days </small>
            
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      
      <div>
        {% if plans.has_other_pages %}
        <ul class="pagination">
          {% if plans.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ plans.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><a class="page-link">&laquo;</a></li>
          {% endif %}
          {% for i in plans.paginator.page_range %}
            {% if plans.number == i %}
              <li class="page-item"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if plans.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ plans.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><a class="page-link">&raquo;</a></li>
          {% endif %}
        </ul>
        {% endif %}
      </div>
  
    </div>
  </div>


<style>
 

</style>







{% endblock %}