{% extends 'ktvwifi/main.html' %}

{% load static %}
{% block title %} Password reset {% endblock%}

{% block content %}

<form method="post">
    {% csrf_token %}
<div class="resetForm">
    <div class="resetFormHeader">
          <h5> Forgot Password ? </h5>
          <p> We will send an password reset link to your email address given below  </p> 
    </div>
        <!-- {{ form }} -->
        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" placeholder="Email adress....">
        <input type="submit" class="pwdResetButton" name="Send email" id="pwdResetEmail" value="Send email">   
    </div>
</form>

{% endblock %}