{% extends 'ktvwifi/staffDashboard/main.html' %}

{% load static %}
{% block title %} FAQ {% endblock%}

{% block content %}

<div class="newContainer">
    <form action="" method="get">
    <div class="form-row">
      <div class="form-group col-md-3">
        <label for="Title">Title</label>
        <input type="text" class="form-control" name="title" id="title" placeholder="title">
      </div>
      <div class="form-group col-md-3">
        <label for="Solution">Solution</label>
        <input type="text" class="form-control" name="solution" id="solution" placeholder="solution">
      </div>
      <div class="form-group col-md-3">
        <button type="submit" class="btn btn-primary" style="margin-top: 30px;"> Search
      </div>
    </div>
  </form>
    <table class="table table-striped" style="margin: auto;">
      <thead class="thead-dark">
        <tr>
          <th> Title </th>
          <th> Solution </th>
          <th> Update </th>
          <th> Delete </th>
          </tr>
        </thead>
        <tbody>
          {% for f in faq %}
          <tr>
            <td class="title"> {{f.title}} </td>
            <td class="solution">  {{f.solution}} </td>
            <input type="hidden" class="faqid" value="{{f.id}}">
            <td> 
                <button type="button" class="btn btn-warning view" data-toggle="modal" data-target="#updateModal" onclick="updateFaq('{{ forloop.counter0 }}')">
                Update
                </button>  
            </td>
            <td>  
                <input type="button" class="btn btn-danger view" data-toggle="modal" value="Delete" data-target="#deleteModal" onclick="deleteFaq('{{ f.id }}')">
            </td>
          </tr>
          {% endfor %}
        </tbody>
    </table>
    <div>
      {% if faq.has_other_pages %}
      <ul class="pagination">
        {% if faq.has_previous %}
          <li class="page-item"><a class="page-link" href="?page={{ faq.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><a class="page-link">&laquo;</a></li>
        {% endif %}
        {% for i in faq.paginator.page_range %}
          {% if faq.number == i %}
            <li class="page-item"><a class="page-link">{{ i }} <span class="sr-only">(current)</span></a></li>
          {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if faq.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ faq.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><a class="page-link">&raquo;</a></li>
        {% endif %}
      </ul>
      {% endif %}
    </div>
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateModal">
        Add FAQ
    </button>
  </div>

  <form action= "/dashboard/faq " method="post" enctype="multipart/form-data" id='updateForm'>
    {% csrf_token %}
  <!-- Read Modal -->
  <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="updatePlansModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="readComplaintDate">Update</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="Title">Title:</label>
            <input id="titleModal" type="text" name="title" class="form-control" value="" placeholder="Title" >
          </div>
            <div class="form-group">
              <label for="Solution">Solution:</label>
              <textarea id="solutionModal" name="solution" class="form-control" placeholder="Write something.." style="height: 100px;" ></textarea>
            </div>
        </div>
        <!-- modal-footer -->
        <div class="modal-footer">
            <input type="hidden" name="id" id="idModal" value="">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</form>


<form id="deletePlan" action =  "{% url 'deleteFaq' %}" method="POST">
    {% csrf_token %}
    <div class="modal" id="deleteModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Deletion</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Are you sure you want to delete it? </p>
          </div>
          <div class="modal-footer">
            <input type="hidden" name="id" id="idModalDelete" value="">
            <button type="submit" class="btn btn-danger">Delete</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock %}